body {margin:0px;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: monospace;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
  background-color: #000;
  border-bottom: 2px solid #4CAF50;
}

.active {
  background-color: #4CAF50;
}

p.title{
  font-family: Trebuchet MS, sans-serif;
}
p.text{
  font-family: Palatino, URW Palladio L, serif;
}

#responsive{
  display: inline-block;
  position: relative;
  width: auto;
  padding: 20px
}

.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   font-style: inded; 
   background-color: #555;
   color: white;
   text-align: center;
}

#dummy{
    padding-top: 10%;
}
